@font-face {
    font-family: primaryFont;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: coolFont;
    src: url(./assets/fonts/Agraham.otf);
}

:root {
    --accent: #2F4550;
    --text: white;
    --secondary: #5e454b;
    --bg: #121212;
}

body {
    margin: 0;
    font-family: 'primaryFont' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #121212 !important;
    font-size: 16px;
    width: 100vw;
    overflow-x: hidden !important;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
